<header class="header border-bottom border-dark border-3">
    <nav class="container d-flex align-items-center">
        <h1 class="h2 font-primary d-md-flex align-items-md-center mb-0 me-md-6">
            <a href="index.html" class="d-inline-block me-4 me-md-3"><img src="../assets/images/logo.png" alt="logo"
                    class="d-block header-img img-fluid"></a>
            <div class="d-none d-md-block d-md-flex align-items-md-center">
                7TAO
                <span class="h6 font-secondary fw-bold mb-0 ms-1">活動訂票網</span>
            </div>
        </h1>
        <div class="input-group w-55 w-md-25">
            <input type="text" class="form-control bg-light border-2 border-dark tt rounded-0" placeholder="探索活動">
            <button class="btn btn-dark" type="button"><i class="icofont-search-1"></i></button>
        </div>
        <div class="ms-auto">
            <a class="btn btn-dark bg-light d-md-none p-3 border-2 rounded-1" data-bs-toggle="collapse" href="#collapse"
                role="button">
                <div class="ham position-relative top-50 start-50 translate-middle"></div>
            </a>
            <div class="d-none d-md-block">
                <a href="#" class="font-primary d-inline-block header-link me-4"><i
                        class="icofont-ui-file me-1"></i>REGISTER</a>
                <a href="#" class="font-primary d-inline-block header-link"><i
                        class="icofont-ui-user me-1"></i>LOGIN</a>
            </div>
        </div>
    </nav>
</header>
<div class="collapse d-md-none position-fixed w-100 border-bottom border-dark border-2" id="collapse">
    <div class="bg-light py-4 ps-3">
        <a href="#" class="font-primary header-link mb-3"><i class="icofont-ui-file me-1"></i>REGISTER</a>
        <a href="#" class="font-primary header-link"><i class="icofont-ui-user me-1"></i>LOGIN</a>
    </div>
</div>