<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>活動訂票網</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
</head>

<body class="bg-light">

    <%- include('./layout/header') %>

        <div class="container">
            <div class="checkout">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <ol class="d-flex justify-content-between position-relative pay-list mb-4 mb-xl-6">
                        <li class="font-secondary d-flex flex-column align-items-center"><span
                                class="d-inline-block bg-dark text-warning fs-5 pay-list-box d-flex justify-content-center align-items-center mb-2">1</span>訂單確認
                        </li>
                        <li class="font-secondary d-flex flex-column align-items-center"><span
                                class="d-inline-block bg-light border border-dark fs-5 pay-list-box d-flex justify-content-center align-items-center mb-2">2</span>結帳付款
                        </li>
                        <li class="font-secondary d-flex flex-column align-items-center"><span
                                class="d-inline-block bg-light border border-dark fs-5 pay-list-box d-flex justify-content-center align-items-center mb-2">3</span>訂購結果
                        </li>
                    </ol>
                    <h2 class="font-secondary checkout-title fw-bold text-center mb-4 mb-xl-5">邪典電影派對—房間</h2>
                    <div class="border-top border-dark border-2 mb-4 mb-xl-6">
                        <div class="d-flex justify-content-between border-bottom border-dark py-2">
                            <p class="font-secondary fw-bold mb-0">日期</p>
                            <p class="mb-0">2023/5/12</p>
                        </div>
                        <div class="d-flex justify-content-between border-bottom border-dark py-2">
                            <p class="font-secondary fw-bold mb-0">票種</p>
                            <p class="mb-0">驚嚇一整晚(含爆米花)</p>
                        </div>
                        <div class="d-flex justify-content-between border-bottom border-dark py-2">
                            <p class="font-secondary fw-bold mb-0">票價</p>
                            <p class="mb-0">$8000</p>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <img src="../assets/images/sparkler.png" alt="sparkler" class="checkout-sparkler mb-3">
                        <h3 class="font-secondary h4 fw-bold">聯絡人資料</h3>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">聯絡人姓名</label>
                        <input type="text"
                            class="form-control bg-light contact-input rounded-0 border-dark border-2 py-2" id="name"
                            placeholder="請輸入聯絡人名稱">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email"
                            class="form-control bg-light contact-input rounded-0 border-dark border-2 py-2" id="email"
                            placeholder="請輸入Email">
                    </div>
                    <div class="mb-4 mb-xl-5">
                        <label for="tel" class="form-label">手機</label>
                        <input type="tel"
                            class="form-control bg-light contact-input rounded-0 border-dark border-2 py-2" id="tel"
                            placeholder="請輸入手機號碼">
                    </div>
                    <button
                        class="btn btn-dark rounded-0 w-100 w-md-65 fs-5 fw-bold d-flex align-items-center justify-content-center py-2 mx-auto mb-3">確認表單資料<img
                            src="../assets/images/Vector-white.png" alt="Vector" class="ms-1"></button>
                    <p class="fs-18 text-center cancel-pay mb-0">取消購票</p>
                </div>
            </div>
        </div>





        <%- include('./layout/footer') %>
            <script type="module" src="../main.js"></script>
</body>

</html>